.full-width-field {
  position: relative;
  max-width: 80%;
  width: 100%;
  margin-left: 10%;

 }

 mat-form-field  {
   position: relative;
   width: 100%;
 }

.container {
  height: 75%;
}

  .example-button-row {
   text-align: center;
  }

  .header {
   text-align: center;
   padding: 20px;
  }

  .footer {
   position:fixed;
   bottom:0;
  }


  .spacing {
    line-height: normal;
  }



  #wrapper {
    width: 500px;
 
    overflow: hidden; /* add this to contain floated children */
}
#first {

    float:left; /* add this */

}
#second {
    border: 1px solid green;
    float: left; /* add this */
}

.bottom_footer {
  color: white;
}