.full-width-field {
  position: relative;
  max-width: 80%;
  width: 100%;
  margin-left: 10%;

 }

 mat-form-field  {
   position: relative;
   width: 100%;
 }

.container {
  height: 75%;
  width: 100%;

 
}

.mat-card-title {
  padding: 40px; 
}

.example-card {
  padding-left: 40px;
  padding-right: 40px;
}


  .example-button-row {
   text-align: center;
  }

  .header {
   text-align: center;
   padding: 20px;
  }

  .footer {
   position:fixed;
   bottom:0;
  }


  .spacing {
    line-height: normal;
  }



  #wrapper {
    width: 500px;
 
    overflow: hidden; /* add this to contain floated children */
}

.input {
  padding: 10px; 
}
#first {
    
    float:left; /* add this */

}
.wrapper1 {

  padding: 0px 20px ; 
  width: 75%;
  margin: 0 auto; 
}


#second {
    border: 1px solid green;
    float: left; /* add this */
}

.bottom_footer {
  color: white;
}




