<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>




<body >
   
   <div class="container">   
  <mat-grid-list cols="1" rowHeight="100%"  >
    <mat-grid-tile >
  
          <form class="example-form" >
          <div id="wrapper">
            <div id="first">

              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title><h3>Model</h3></mat-card-title>
              
                </mat-card-header>
                <mat-card-content>
                  <ul>
                    <li>For this ChatGPT model I trained it 
                      answer questions pertaining to President Bidens <a href="https://www.whitehouse.gov/briefing-room/speeches-remarks/2023/02/07/remarks-of-president-joe-biden-state-of-the-union-address-as-prepared-for-delivery/">2023 State of the Union Speech</a></li>
                    <li>I used <a href="https://js.langchain.com/docs/get_started/introduction">LangChain</a> which is a 
                      Javascript framework that allows you upload your
                      own personal documents to be used with ChatGPT</li>
            
                  </ul>
             
                </mat-card-content>
           
              </mat-card>


            </div>
         <!--   <div id="second">When you post a new question, other users will almost immediately see it and try to provide good answers. This often happens in a matter of minutes, so be sure to check back frequently when your question is still new for the best response.</div> -->
        </div>
       
          <h1 class="header">Ask ChatGPT A Question!</h1>
          
        
        <div class="wrapper1">
          <mat-form-field appearance="outline" class="first" >
              <mat-label>Question or Statement</mat-label>
              <input class='input' matInput placeholder="Ex. Give me a summary of the article" value="" [formControl]="search"   >
          </mat-form-field> 
        </div>
          
            <section>
              <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" ></mat-progress-bar>
              
              <p class="full-width-field" *ngIf="timeForSearch>0">Results found in {{timeForSearch}} second(s)</p>
              <p class="full-width-field" *ngIf="warningmessage">The response has exceeded 10 seconds. It is likely the API has reached it's limit. The request will be cancelled. </p>
              <p class="full-width-field">{{ChatGpResponse}}</p>
          
           
                <div class="example-button-row">
                  <button mat-raised-button color="primary" (click)="updateSearch()">Search</button>
                  <button mat-raised-button color="primary" (click)="clearSearch()" [ngStyle]="{'margin':'10px'}">Clear</button>
                </div>
              </section>
          
          </form>  

    </mat-grid-tile>


  </mat-grid-list>
</div>

  <mat-toolbar class="footer" color="primary">
    <mat-toolbar-row>
      <span><a class='bottom_footer' href='https://github.com/tmen427/ChatGPFrontend'>© 2023 Github</a></span>

    </mat-toolbar-row>
    
  </mat-toolbar>

</body>