.full-width-field {
  position: relative;
  max-width: 80%;
  width: 100%;
  margin-left: 10%;

 }


 mat-grid-tile {
 

  
 }


  .example-button-row {
   text-align: center;
  }


  .header {
   text-align: center;
   padding: 20px;
  }

  .footer {
   position:fixed;
   bottom:0;
  }